
section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//start
.start-screen__input-row{
  margin-top: 100px;
}
//get-ready
.get-ready-screen__button-row{
  margin: 20px 0;
}
.get-ready-screen__ready-button{
  height: 100px;
  width: 100px;
}
//typing-test
.typing-test-screen{
  position: relative;
  .typing-test__stats-row{
    width: 100%;
    position: absolute;
    top: 15px;
    .typing-test__stats-col{
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

}
//finish